<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This app was created by Benjamin. It uses data from Weather Stack.</p>
    </div>
    {{>footer}}
</body>
</html>